<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %> <%-
    include('./partials/sub-header.ejs') %>
    <div
      class="d-flex align-items-center justify-content-center"
      style="height: 90vh"
    >
      <div class="text-center">
        <img src="../Imgs/oops.png" width="500px" alt="" />
        <p class="fs-3">
          <span class="fw-bold">404 - Page not found.
        </p>
        <p class="lead text-dark fw-normal">The page you’re looking for might have been removed, <br> span had it's name changed or it's temperory unavailable.</p>
        <a href="/" class="btn btn-outline-dark text-uppercase rounded-pill">Go To Home Page</a>
      </div>
    </div>
  </body>
  <script>
    document.querySelector(".allCategoriesBtn").addEventListener("click",()=>{
    document.querySelector(".megamenu").classList.toggle("show")
    })
  </script>
</html>
